:root {
  --header-text-color: #757575;
  --background: #2f303a;
  --color-nav: #2196f3;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}

body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  color: #757575;
}
.list {
  list-style: none;
}
a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
  margin-right: 93px;
}
.accent {
  color: #2196f3;
}

.header {
  border: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
}

.header-list-connect {
  display: flex;
  margin-left: auto;
}

.header-item + .header-item {
  margin-left: 50px;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  padding: 32px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:hover,
.header-link:focus {
  color: var(--color-nav);
}

.current {
  position: relative;
}

.header-link.current::after {
  content: "";
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -2px;
}

.header-list .header-link.current {
  color: var(--color-nav);
}

.header-link-mail,
.header-link-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  padding: 32px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link-icon {
  fill: currentColor;
  margin-right: 10px;
}

.header-link-mail:hover,
.header-link-tel:hover,
.header-link-mail:focus,
.header-link-tel:focus {
  color: var(--color-nav);
}
/* main */

.hero {
  background: var(--background);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;

  flex-grow: 1;
  padding-top: 200px;
  padding-bottom: 200px;
}

.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}
.btn {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  min-width: 200px;
  height: 50px;
}

.btn-content {
  display: flex;
  justify-content: center;
}

/* ---------INFO------------ */

.info-icon-content {
  width: 270px;
  height: 120px;
  left: 815px;
  top: 774px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-icon-item + .info-icon-item {
  margin-left: 30px;
}

.info-list {
  display: flex;
  justify-content: space-between;
}

.info-item + .info-item {
  margin-left: 30px;
}

.info-name {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.info-text {
  width: 270px;
  height: 75px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--header-text-color);
}

.action {
  padding-bottom: 94px;
}

.action-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.action-list {
  display: flex;
}

.action-item + .action-item {
  margin-left: 30px;
}

.action-item {
  position: relative;
}

.action-label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;

  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;

  position: absolute;
  width: 370px;
  height: 70px;
  left: 0;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
}

/*----------------Наша команда------------------*/
.team {
  background: #f5f4fa;
}
.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
}

.team-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item + .team-item {
  margin-left: 30px;
}

.team-name-content {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}
.team-position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-text-color);
  margin-bottom: 16px;
}

.team-social-list {
  display: flex;
  justify-content: center;
}

.team-social-link {
  width: 44px;
  height: 44px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-icon {
  fill: currentColor;
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.team-social-item + .team-social-item {
  margin-left: 10px;
}

/* ----------------- clients-------------- */

.clients-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
}

.clients-item {
  width: 170px;
  height: 92px;
}

.clients-item + .clients-item {
  margin-left: 30px;
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-logo {
  fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  color: #2196f3;
  border-color: #2196f3;
}

/*-------------FOOTER---------------*/
.footer {
  background: var(--background);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer-logo-content {
  margin-bottom: 20px;
}
.footer-logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.footer-accent {
  color: #ffffff;
}

.footer-item:nth-child(-n + 2) {
  margin-bottom: 9px;
}

.footer-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link-mail,
.footer-link-tel {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link-mail:hover,
.footer-link-tel:hover,
.footer-link:hover,
.footer-link-mail:focus,
.footer-link-tel:focus,
.footer-link:focus {
  color: var(--color-nav);
}

.footer-social-list {
  display: flex;
}

.footer-content {
  display: flex;
  flex-direction: column;
}

.footer-text {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-social-link {
  width: 44px;
  height: 44px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon {
  fill: currentColor;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.footer-social-item + .footer-social-item {
  margin-left: 10px;
}

.email-input {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.footer-modal-input {
  width: 358px;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  outline: none;
  padding-left: 15px;
}

.footer-btn {
  width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 1.87;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: 12px;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-form-svg {
  margin-left: 10px;
}
/*------------------------- Портфолио------------------------------- */
.prtf-list-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.prtf-item-btn + .prtf-item-btn {
  margin-left: 8px;
}

.prtf-btn {
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.prtf-btn:hover,
.prtf-btn:focus {
  background: #2196f3;
  color: #ffffff;
  border: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.prtf-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.prtf-item {
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
}

.prtf-item:nth-child(-n + 6) {
  margin-bottom: 30px;
}

.prtf-link-card:hover .prtf-top-text,
.prtf-link-card:focus .prtf-top-text {
  transform: translateY(0);
}

.prtf-link-card {
  display: block;
  position: relative;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.prtf-wrap {
  position: relative;
  overflow: hidden;
}

.prtf-top-text {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;

  letter-spacing: 0.03em;
  padding: 30px;

  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  height: 100%;
  width: 100%;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.prtf-link-card:hover,
.prtf-link-card:focus {
  background: #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.prtf-title-content {
  padding: 20px 24px;
  background: #ffffff;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.prtf-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.prtf-text {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

/* ----------------MODAL--------------- */

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100%;
  left: 0px;
  top: 0px;

  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms, visibility 250ms;
}

.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.modal-close-btn {
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
}

.btn-icon {
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .btn-icon {
  fill: #2196f3;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.form-field {
  margin-bottom: 10px;
}

.form-field-textarea {
  margin-bottom: 20px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 35px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border: 1px solid #2196f3;
}

.modal-input:focus + .modal-icon {
  fill: #2196f3;
}

.modal-input-wrap {
  position: relative;
}

.modal-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* можно задавать стиль там где присутствуетrequired  */
/* required - обязывает заполнение поля */
/* .modal-input:required {

} */

.modal-label {
  font-size: 12px;
  line-height: 0.85;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
  display: block;
}

.modal-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  outline: none;
  resize: none;
}

.modal-check-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
}

.modal-check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-check-icon {
  fill: transparent;
}

.modal-check:checked + .modal-check-text span {
  background-color: #2196f3;
  border: none;
}

.modal-link {
  font-size: 14px;
  line-height: 24px;
  text-decoration: underline;
  letter-spacing: 0.03em;
  margin-left: 5px;
  color: #2196f3;
}

.modal-btn-content {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.modal-btn {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover {
  background: #188ce8;
}
